<div class="sticky top-0 z-10">
  <mat-toolbar style="min-height: 64px">
    <div class="text-2xl font-semibold">Moviedex</div>
  </mat-toolbar>
</div>
<div class="flex flex-col w-full overflow-y-scroll" style="height: calc(100vh - 64px)">
  <div
    class="sticky top-0 z-10 flex flex-col justify-center items-center w-full bg-black/85"
    style="min-height: 156px"
  >
    <form (submit)="onSearch($event)" class="md:w-1/2 md:px-0 px-6 w-full">
      <mat-form-field class="flex justify-center items-center w-full" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Search for a movie"
          [formControl]="searchControl"
          [required]="true"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" class="w-full">Search</button>
    </form>
  </div>
  <div class="flex flex-wrap gap-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
      @for (movie of searchResults(); track movie.id) {
        <a [routerLink]="['movie/', movie.id]" class="cursor-pointer">
          <app-movie-card [movie]="movie" />
        </a>
      }
    </div>
  </div>
</div>
