<div class="flex flex-col w-full h-full">
  <div class="search-form-container" [class.hidden]="!isFormVisible()" style="min-height: 156px">
    <form class="md:w-1/2 md:px-0 px-6 w-full">
      <mat-form-field class="flex justify-center items-center w-full" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Search for a movie"
          [formControl]="searchControl"
          [required]="true"
          appAlphanumericMinLength
          [minLength]="3"
        />
        @if (searchControl.invalid && searchControl.touched) {
          <mat-error>
            @if (searchControl.hasError('required')) {
              Search query is required.
            } @else if (searchControl.hasError('minLength')) {
              Search query must be at least
              {{ searchControl.getError('minLength')?.requiredLength }} characters.
            }
          </mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        type="button"
        (click)="onSearch()"
        class="w-full"
        [disabled]="isLoading()"
      >
        Search
      </button>
    </form>
  </div>

  <app-search-results
    [isLoading]="isLoading()"
    [searchResults]="searchResults()"
    [totalResults]="totalResults()"
    [currentPage]="currentPage()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[20, 40, 60, 100]"
    [selectedMovieIds]="selectedMovieIds()"
    (pageChange)="onPageChange($event)"
    (movieSelectionToggle)="onMovieSelectionToggle($event)"
    class="flex-1"
  />
</div>

@if (selectedMovies().length > 0) {
  <button
    mat-fab
    color="primary"
    (click)="openAddToCollectionDialog()"
    [matBadge]="selectedMovies().length"
    matBadgePosition="above before"
    matBadgeColor="accent"
    [attr.aria-label]="'Add ' + selectedMovies().length + ' selected movies to collection'"
    style="position: fixed; bottom: 24px; right: 24px; z-index: 1000;"
  >
    <mat-icon>add</mat-icon>
  </button>
}
