<div class="create-collection-dialog">
  <h2 mat-dialog-title>Create New Collection</h2>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Collection Name</mat-label>
      <input
        matInput
        [formControl]="collectionNameControl"
        placeholder="Enter collection name"
        (keydown.enter)="onCreate()"
      />
      @if (collectionNameControl.invalid && collectionNameControl.touched) {
        <mat-error>
          @if (collectionNameControl.hasError('required')) {
            Collection name is required.
          } @else if (collectionNameControl.hasError('maxlength')) {
            Collection name must be less than 100 characters.
          }
        </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" type="button">Cancel</button>
    <button mat-raised-button color="primary" (click)="onCreate()" type="button">
      Create
    </button>
  </mat-dialog-actions>
</div>

